#main
{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
    margin:30px;
    #card
    {
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:left;
     border:1px rgba(135, 207, 235, 0.604) solid;
     border-radius: 5px;
     padding-bottom: 20px;
     margin-right: 69px;
     gap:10px;
     img 
     {
      width: 200px;
      height:200px;
     }
     #itemname
     {
       color:grey;
       font-size:17px;
       word-spacing:2px;
       letter-spacing: 1px;
       padding-left:10px;
     }
     #priceonwards
     {
        display:flex;
        flex-direction:row;
        justify-content:left;
        align-items:center;
        padding-left:10px;
        #price
        {
         font-size:27px;
         font-weight:bold;
        }
        #onwards
        {
          font-size:12px;
          color:grey;
          font-weight:bold;
          text-align: right;
          margin-top: 10px;
          margin-left:5px;
          letter-spacing: 1px;
        }
     }
     #delivery
     {
       
       background-color: rgba(189, 224, 237, 0.423);
       margin-left:10px;
       border-radius: 50px;
       font-size: 13px;
       padding: 10px 15px;
       padding-top:4px ;
       width:77px;
       height:5px;
       font-weight: 200;
       color:grey;
     }
     #reviewsandrating
     {
        display:flex;
       flex-direction:row;
       justify-content:left;
        align-items:center;
        padding-left:10px;
        #rating
        {
           background-color: rgba(4, 163, 4, 0.696);
           padding:5px 15px;
           border-radius: 50px;
        }
        #reviews
        {
            margin-left:5px;
            color:grey;
            font-size:14.5px;
            font-weight:500px;
        }
     }

    }
}